

.buttonRipple {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border: none;
  outline: none;

  width: 10rem;
  height: 4rem;

  


  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }


  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}