.text {
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: center;
  margin: 0 10vw;

  &:hover {
    background-color: #ff0040;
    color: white;
  }
}